@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>scompo-organizer | @title</title>
        <!-- Meta tags. -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta content="Mauro Scomparin" name="Author">
        <meta content="scompo-organizer" name="description">
        <!-- css inclusions -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>
        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")"/>
    </head>
    <body>

        @content

        <!-- script inclusions -->
        <script src="//code.jquery.com/jquery.js" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    </body>
</html>
